<form class="form-signin" [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">
      Username or password invalid. 

    </div>
    <h1 class="h3 mb-3 font-weight-normal">Welcome Back</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputUserName" class="form-control" formControlName="username" placeholder="Email address" required >{{username.value}}
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    
  </form>
 
{{users | json}}
