
<form  #f='ngForm'  [formGroup]="billing_form" (ngSubmit)="doBill(f.value)" >

  <mat-tab-group #tabGroup>
    <mat-tab label="Product Details">
      <h1>Some tab content</h1>
      <app-product></app-product>
      <label for="product_name"></label>
      <input type="text" id="firstName"  formControlName="product_name" class="form-control"  placeholder="Product name" >
      
      <button mat-button (click)="tabGroup.selectedIndex = 1">Next></button>
    </mat-tab>
    <mat-tab label="Customer Details">
      <h1>Some more tab content</h1>
      <p>...</p>
      <button mat-button  (click)="tabGroup.selectedIndex = 0">Previous</button>
      <button mat-button  (click)="tabGroup.selectedIndex = 2">Next</button>
      
    </mat-tab>
    <mat-tab label="Payment Details">
      <h1>Some more tab content</h1>
      <p>...</p>
      <button mat-button  (click)="tabGroup.selectedIndex = 1">Previous</button>
      <button mat-button  (click)="tabGroup.selectedIndex = 3">Next</button>
     
    </mat-tab>
    <mat-tab label="Confirm">
      <h1>Some more tab content</h1>
      <p>...</p>
      <button mat-button  (click)="tabGroup.selectedIndex = 2">  Previous </button>
     
     
    </mat-tab>
  </mat-tab-group>

</form>




