
 

           <sc-carousel></sc-carousel>
        
        <mat-toolbar class="sticky-top">
            <div style="
            display: inline-block;
            margin: auto;
           "class="btn-group " role="group" aria-label="Basic example">
                <button  type="button"  class="btn btn-info btn-sm" routerLink="/" [queryParams]="{category:c.name}" (click)="colapseCarousel()" *ngFor="let c of categories"   [class.active]="category===c.name" >
                     {{c.name}}
                   </button>
                  </div>
          </mat-toolbar>
        <div class="row">
            <ng-container *ngFor="let p of products; let i=index" >
                    
              
              <div class="col ">
                <product-card [product]="p" [shoping-cart]="cart" ></product-card>
                    </div>
                    <div class="w-100" *ngIf="(i+1)%4===0"></div>
            
                  </ng-container>
            <br>
            
            </div>
           

   
  